html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* body {
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/syuhei-inoue-kaoHI0iHJPM-unsplash.jpg');
    background-position: center center;
    background-attachment: fixed;
    color: white;
} */

#index-body {
    height: 100vh;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.japan-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/syuhei-inoue-kaoHI0iHJPM-unsplash.jpg');
    background-position: center center;
    background-attachment: fixed;
}

#index-header {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

#index-header h1 {
    font-size: 3rem;
    text-align: center;
}

#index-header h2 {
    font-size: 1.8rem;
    text-align: center;
}

#index-header h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

#index-main {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

form[action='game.html'] input[type='submit'] {
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 15px 5px;
    /* display: inline-block; */
    padding: 10px 15px;
    width: 150px;
    background-color: #cc0e0099;
}

#index-main-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transparent-orange-bg {
    background-color: #cc0e0099;
    padding: 5px 10px;
    border-radius: 10px;
}

.img-box {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#game-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

#game-main h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: #cc0e0099;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

#game-main .img-box {
    margin-bottom: 15px;
    background-color: red;
    flex-shrink: 0;
}

#guessForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guessForm #guessInput {
    font-size: 2rem;
    width: 100px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

#guessForm #guessSubmit {
    font-size: 1.5rem;
    padding: 5px;
    border: none;
    margin-top: 5px;
}

#results {
    color: white;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 10px;
}

.results {
    background-color: #cc006999;
}

.correct {
    background-color: #00cc3a99;
}

.incorrect {
    background-color: #cc000099;
}

.img-box p {
    font-size: 16rem;
}


@media (min-width: 600px) {
    #index-header {
        height: 300px;
    }

    #index-header h1 {
        font-size: 5rem;
    }

    #index-header h2 {
        font-size: 3.8rem;
    }

    #index-header h3 {
        font-size: 2.2rem;
    }

    form[action='game.html'] input[type='submit'] {
        font-size: 3rem;
        width: 300px;
    }

    .img-box {
        width: 450px;
        height: 450px;
    }

    #game-main h1 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    #game-main .img-box {
        margin-bottom: 60px;
    }

    .img-box p {
        font-size: 25rem;
    }
}